<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i class="fa fa-book" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <form @submit.prevent="submit">
            <div class="form-group">
              <label class="form-label">Select Type</label>
              <select id="type" name="type" class="form-control" type="text" v-model="type">
                <option value="null" selected disabled hidden>Choose Type</option>
                <option value="Movie">Movie</option>
                <option value="Series">Series</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">Select Genre </label>
              <select id="genre" name="genre" class="form-control" type="text" v-model="genre">
                <option value="null" selected disabled hidden>Choose Type</option>
                <option value="Romantic">Romantic</option>
                <option value="Horror">Horror</option>
                <option value="Action">Action</option>
                <option value="Fiction">Fiction</option>
                <option value="Comedy">Comedy</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
              </select>
            </div>

            <div class="form-group" :class="{ 'form-group--error': $v.favorite.$error }">
              <label class="form__label">Personal Favorite</label>
              <input class="form__input" v-model.trim="$v.favorite.$model"/>
            </div>

            <div class="error" v-if="!$v.favorite.required">Personal Favorite is Required</div>
            <div class="error" v-if="!$v.favorite.minLength">Message must have at least {{$v.favorite.$params.minLength.min}} letters.</div>

            <div class="form-group" :class="{ 'form-group--error': $v.stars.$error }">
              <label class="form-control-label" name="stars">Stars (Enter a number between 1 and 10)</label>
              <input data-test="stars" class="form__input" type="number" v-model.trim="stars"/>
            </div>
            <div class="error" v-if="!$v.stars.between">Stars must be between 1 and 10</div>
            <div class="form-group" :class="{ 'form-group--error': $v.comment.$error }">
              <label class="form__label">Personal Comment</label>
              <input class="form__input" v-model.trim="$v.comment.$model"/>
            </div>
            <div class="error" v-if="!$v.comment.required">Comment is Required</div>
            <div class="error" v-if="!$v.comment.minLength">Message must have at least {{$v.comment.$params.minLength.min}} letters.</div>
            <p>
              <button class="btn btn-primary btn1" type="submit" :disabled="submitStatus === 'PENDING'">Add Diary Entry</button>
            </p>
            <p class="typo__p" v-if="submitStatus === 'OK'">Thanks for your Diary Entry!</p>
            <p class="typo__p" v-if="submitStatus === 'ERROR'">Please Fill in the Form Correctly.</p>
            <p class="typo__p" v-if="submitStatus === 'PENDING'">Pending...</p>
          </form>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>
</template>

<script>
import Vue from 'vue'
import VueForm from 'vueform'
import Vuelidate from 'vuelidate'
import Diaryservice from '../services/diaryservice'
import VueSweetalert from 'vue-sweetalert'
import { required, minLength, between } from 'vuelidate/lib/validators'

Vue.use(VueForm, {
  inputClasses: {
    valid: 'form-control-success',
    invalid: 'form-control-danger'
  }
})

Vue.use(Vuelidate)
Vue.use(VueSweetalert)
export default {
  name: 'AddDiary',
  data () {
    return {
      messagetitle: ' Add Diary ',
      type: 'Movie',
      genre: '',
      favorite: '',
      stars: 0,
      comment: '',
      upvotes: 0,
      diary: {},
      submitStatus: null
    }
  },
  validations: {
    comment: {
      required,
      minLength: minLength(5)
    },
    favorite: {
      required,
      minLength: minLength(5)
    },
    stars: {
      required,
      between: between(1, 10)
    }
  },
  methods: {
    submit () {
      console.log('submit!')
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        // do your submit logic here
        this.submitStatus = 'PENDING'
        setTimeout(() => {
          this.submitStatus = 'OK'
          var diary = {
            type: this.type,
            genre: this.genre,
            favorite: this.favorite,
            stars: this.stars,
            comment: this.comment,
            upvotes: this.upvotes
          }
          this.diary = diary
          console.log('Submitting in DiaryForm : ' + JSON.stringify(this.diary, null, 5))
          this.submitDiary(this.diary)
        }, 500)
      }
    },
    submitDiary: function (diary) {
      console.log('submitDiary!')
      console.log('Submitting in submitDiary : ' + diary)
      Diaryservice.postDiary(diary)
        .then(response => {
          // JSON responses are automatically parsed.
          console.log(response)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }

  #app1 {
    width: 95%;
    margin: 0 auto;
  }
  .required-field > label::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
  }
  .donate-form .form-control-label.text-left{
    text-align: left;
  }

  label {
    display: inline-block;
    width: 540px;
    text-align: left;
    font-size: x-large;
  }
  .typo__p {
    width: 540px;
    font-size: x-large;
  }
  .btn1 {
    width: 300px;
    font-size: x-large;
  }
  p {
    margin-top: 20px;
  }

  input {
    border: 1px solid silver;
    border-radius: 4px;
    background: white;
    padding: 5px 10px;
    width: 540px;
  }

  .dirty {
    border-color: #5A5;
    background: #EFE;
  }

  .dirty:focus {
    outline-color: #8E8;
  }

  .error {
    border-color: red;
    background: #157ffb;
    color: whitesmoke;
  }

  .error:focus {
    outline-color: #ffa519;
  }
</style>
