<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-info" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae vulputate metus, in vestibulum nisl. Vivamus purus lorem, fringilla varius magna et, sodales fringilla metus. Cras blandit dui vitae cursus volutpat. Maecenas lobortis commodo augue vel viverra. Vestibulum vulputate maximus aliquam. Aenean sollicitudin consequat elit sed convallis. Integer pulvinar, odio in tempus rhoncus, quam mauris posuere eros, a vulputate nulla mi at ligula. Curabitur tempor ultricies lorem, et gravida tortor hendrerit lacinia. Aliquam in ante dolor. Sed consectetur tempus consequat.

      In hac habitasse platea dictumst. Phasellus sit amet lorem tellus. Sed et auctor est. Quisque felis nunc, mollis nec urna non, lobortis maximus ligula. In venenatis sit amet metus ut vulputate. Quisque suscipit egestas lorem, vitae vehicula risus feugiat ut. Pellentesque euismod mi vel lorem pharetra lobortis. Suspendisse felis dolor, laoreet eu arcu sed, imperdiet porta neque. Donec eu nunc scelerisque ligula dictum tristique sed eget purus. Phasellus condimentum tempus velit, egestas efficitur massa tincidunt ut.</p>
    </div>
    <h2> Diary Central Headquarters</h2>

    <p>Street  Main st Cappamore </p>
    <p> City(town) Cappamore </p>
    <p> State(area) County Limerick</p>
    <p>Phone Number (061)381204</p>
    <p> Country Ireland</p>

  </div>
</template>

<script>
export default {
  name: 'ContactUS',
  data () {
    return {
      messagetitle: ' Contact Us '
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
