<template>
  <div id="app">
    <b-navbar toggleable="md" variant="dark" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <img src="./assets/logo1.png" class="img-circle" style="padding: 5px" height="47" width="50">
      <b-navbar-brand to="/">Diary Central</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item data-test="homebtn" to="/"><i class="fa fa-h-square" style="padding: 5px"> Home</i></b-nav-item>
          <b-nav-item data-test="diariesbtn" to="/diaries"><i class="fa fa-bars" style="padding: 5px"> Manage Diaries</i></b-nav-item>
          <b-nav-item data-test="addbtn" to="/add"><i class="fa fa-book" style="padding: 5px"> Add Diary</i></b-nav-item>
          <b-nav-item data-test="mapbtn" to="/map"><i class="fa fa-map-marker" style="padding: 5px"> Map</i></b-nav-item>

        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/about"><i class="fa fa-info-circle" style="padding: 5px"> About Us</i></b-nav-item>
          <b-nav-item to="/contact"><i class="fa fa-comments" style="padding: 5px"> Contact Us</i></b-nav-item>
          <b-nav-item data-test="registerbtn" to="/register"><i class="fa fa-user" style="padding: 5px"> Register </i></b-nav-item>
          <b-nav-item data-test="loginbtn" to="/login"><i class="fa fa-sign-in" style="padding: 5px"> Login </i></b-nav-item>
          <b-nav-item to="/logout" @click="signOut"><i class="fa fa-sign-out" style="padding: 5px" > Logout </i></b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
import GoogleMaps from './components/GoogleMaps'
import firebase from 'firebase'

export default {
  name: 'App',
  components: {
    GoogleMaps
  },
  methods: {
    signOut () {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$noty.success('Successfully logged out. ')
          this.$router.push('/')
        })
    }
  }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;

}

.VueTables__sortable {
  cursor: pointer;
}
</style>
